/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */
* {
  border-radius: 6px;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  html {
    height: 932px;
    width: 430px;
  }
}

html {
  background: var(--Blanco);
}

.container {
  width: 100%;
  font-family: js;
  font-weight: bolder;
  color: var(--Negro);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

/* ============== HEADER ============== */
header {
  font-size: var(--h1);
  font-family: js-it;
  margin-top: 26%;
}

.countdown {
  font-size: var(--h4);
}

/* ============== MAIN ============== */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.instrucciones {
  margin-top: 14%;
  width: 62.32%;
  font-size: var(--p);
  padding: 3% 0;
}

.respiracion {
  display: none;
  font-weight: bold;
  margin-top: 14%;
  width: 62.32%;
  font-size: var(--p);
  padding: 3% 0;
}

@media only screen and (min-width: 768px) {
}

.gif {
  margin-top: 16%;
  width: 87%;
  min-height: 27%;

  display: flex;
  justify-content: center;
  padding: 8% 0;
}

/* Animación pulmón */
.pulmon {
  width: 60%;
}

.boton {
  margin-top: 22.7%;
  font-weight: bold;
  width: 59.53%;
  height: 3%;
  line-height: 50px;
  border: none;
  border-radius: 6px;

  & p {
    font-size: 43px;
  }
}

.boton:hover {
  cursor: pointer;
  opacity: 0.95;
}

/* Animación de cambio de color */
.instrucciones,
.respiracion,
.gif,
.boton {
  background-color: #ccc;
  transition: background-color 0.6s ease-in;
}

.instrucciones.blue,
.respiracion.blue,
.gif.blue,
.boton.blue {
  background-color: #7193fb;
}

.instrucciones.green,
.respiracion.green,
.gif.green,
.boton.green {
  background-color: #71fb93;
}

.instrucciones.red,
.respiracion.red,
.gif.red,
.boton.red {
  background-color: #fb7171;
}

.instrucciones.red2,
.respiracion.red2,
.gif.red2,
.boton.red2 {
  background-color: #fb7171;
}

/* Tipografía */
@font-face {
  font-family: "js";
  src: url("../font/josefinsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../font/josefinsans-variablefont_wght-webfont.woff") format("woff");
}

@font-face {
  font-family: "js-it";
  src: url("../font/josefinsans-italic-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../font/josefinsans-italic-variablefont_wght-webfont.woff")
      format("woff");
}

/* ******************************** */

/* Colores */
:root {
  --Blanco: #f9f9f9;
  --Negro: #1f1f1f;
  --Dark-mode: #33373b;
  --Rojo: #fb7171;
  --Azul: #7193fb;
  --Verde: #71fb93;

  /* Font size */
  --h1: 2em;
  --h2: 2.6875em;
  --h4: 2.0625em;
  --p: 1.25em;
}

/* ******************************** */
