/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */
html {
  background: var(--Blanco);
}

.container {
  height: 100%;
  font-family: js;
  color: var(--Negro);
}

header {
  margin-top: 14.8%;
}

/* Tipografía */
@font-face {
  font-family: "js";
  src: url("../font/josefinsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../font/josefinsans-variablefont_wght-webfont.woff") format("woff");
}

@font-face {
  font-family: "js-it";
  src: url("../font/josefinsans-italic-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../font/josefinsans-italic-variablefont_wght-webfont.woff")
      format("woff");
}

/* ******************************** */

/* Colores */
:root {
  --Blanco: #f9f9f9;
  --Negro: #1f1f1f;
  --Dark-mode: #33373b;
  --Rojo: #fb7171;
  --Azul: #7193fb;
  --Verde: #71fb93;
}

/* ******************************** */
